@import "/src/styles.scss";
.field {
  @extend %centerall;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/boardwood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden !important;
}

.card-stack{
    position: relative;
    img{
        position: absolute;
        width: 150px;
    }
}
.top-card{
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover{
        transform: scale(1.03) translateY(-10px);
    }
}

.pick-card{
    transition: all 125ms ease-in-out;
    transform: scale(1.3) !important;
}