<app-player 
*ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + i * 90}"
[playerActive]="i == game.currentPlayer"
[name]="player"
    class="player-position"></app-player>

<div class="field">
    <div class="card-stack">
        <img *ngFor="let c of [1,2,3,4]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="/assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 23px" src="/assets/img/cards/card_cover.png"
            alt="topcard">
        <img *ngIf="lastCard" class="last-card" style="right: 23px" src="/assets/img/cards/{{ playedCard }}.png"
            alt="topcard">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 23px"
            src="/assets/img/cards/{{ currentCard }}.png" alt="topcard">
    </div>
</div>

<button mat-fab color="primary" class="button-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<app-game-info [card]="currentCard"
 [name]="nameCurrentPlayer"></app-game-info>