@import "/src/styles.scss";
.start-screen {
  height: 100%;
  width: 100%;
  background-color: #404040;
  @extend %centerall;
  flex-direction: column;
  h1 {
    position: absolute;
    top: 50px;
    font-size: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #ffffff;
  }
}
.startbutton-container {
  @extend %centerall;
  div {
    cursor: pointer;
    z-index: 2;
    font-size: 30px;
    position: absolute;
    &:hover {
      filter: brightness(1.5);
    }
  }

  img {
    cursor: pointer;
    height: auto;
    width: 400px;
    &:hover {
      filter: brightness(1.05);
    }
  }
}

@media (max-width: 420px) {
  .startbutton-container {
    img {
      position: absolute;
      width: calc(100% - 20px);
    }
  }
}

@media (max-width: 390px) {
  .start-screen {
    h1 {
      font-size: 50px;
    }
  }
}
